/*@import "./assets/styles/resets";*/

$colorWhite: white;
$colorBlack: black;
$colorGreen: #00E3A5;
$pSize: 18px;
$pcolor: #80AB9E;
$h2Size: 36px;




/* Header */
.container {
    background-color: $colorBlack;

    header {
        display: flex;
        flex-direction: row;
        font-family: "Open Sans";
        justify-content: space-between;
        align-items: center;
        color: $colorWhite;
        background-color: grey;
        width: 100%;

        h1 {
            font-weight: 400;
            width: 33%;
        }

        .greenDot {
            color: #00E3A5;
        }
        .navBar{
           display: flex;
           flex-direction: row;
           align-items: center;
           width: 33%;
            
           .aboutUs {
                font-size: 18px;
            }
            div {
                padding: 0 20px;
            }
        }
        
        .navButton{
            width: 33%;
            border-radius: 2px;
            border-color: $colorGreen;

        }

        
    }
}

/* skonczyliśmy na ustawianiu bordera w .navButton* do piątku wypchnąć commita/